.wrapper {
   // height: 100%;
   padding: 24px 0;
   overflow: auto;
   // background-color: rgba(0, 0, 0, 0.2);
   .title {
      font-size: 24px;
      font-weight: bold;
      color: #111;
      text-align: center;
      margin-bottom: 24px;
   }
}
.toolbars {
   margin-bottom: 16px;
}
.search {
   display: flex;
   justify-content: space-between;
}
.search-input {
   display: block;
   height: 36px;
   width:240px;
   padding: 8px 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-left: auto;
}