.wrapper {
   height: 100%;
   padding: 24px 0;
   overflow: auto;
   // background-color: rgba(0, 0, 0, 0.2);
   .title {
      font-size: 24px;
      font-weight: bold;
      color: #111;
      text-align: center;
      margin-bottom: 24px;
   }
}
.toolbars {
   margin: 16px 0;
}
.more-actions {
   position: absolute;
   // height: 120px;
   z-index: 2;
   background-color: #ccc;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   width: 200px;
   margin-top: 4px;
   border-radius: 4px;
   // padding: 8px 0 ;
   padding: 0;
}
.more-action {
   font-size: 20px;
   padding: 8px;
   background-color: rgb(240, 240, 178);
   &:hover {
      cursor: pointer;
      opacity: 0.8;
   }

}
.search {
   // display: flex;
   justify-content: space-between;
   // align-items: center;
}
.filter-age {
   display: flex;
   align-items: center;
   // max-width: 400px;
}
.minAge-input,.maxAge-input {

   width:100px;

}
.filter-gender {
   display: flex;
   // max-width: 200px;
}
.search-input {

   // width:240px;

}