.wrapper {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba($color: #000000, $alpha: 0.3);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: aqua;

}