.household-list {
    height: 200px;
   //  width: 90%;
    background-color: azure;
    position: absolute;
    overflow: auto;

}
.resident-item {
   display: inline-block; 
   font-size: 18px;
   padding: 4px;
   font-weight: bold;
   cursor: pointer;
   cursor: pointer;
   &:hover {
      background-color: cadetblue;
   }
   &.selected {
      background-color: chartreuse;
   }
}